.input-group {
    width: 50% !important;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    
}

#upload_btn{
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 2.2rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

#upload_btn:disabled{
    background-color: gray;
}

#result-list{
   margin-left: 1rem;
}
#result-list img{
    margin-top: 2rem;
    display: block;
}

h2{
    margin-left: 1rem;
}